body{
    background: linear-gradient(to right, #1f4037, #99f2c8);
    width: auto;
    height: auto;
}

.header{
    display: block;
    width: 100%;
    height: 20%;
    margin: 10px;
}

.main{
    width: 100%;
    height: 70%;
    display: flex;
    margin-left: 10px;
}

.navegar{   
    background-color: blue;
    width: 20%;
    height:100%;
    justify-content: left;
}

.navbar{
    margin: 2px;
    background-color: cadetblue;
}

.lista{
    width: 30%;
    margin: 2%;
    background-color: rgb(186, 186, 23);
    text-align: left;
    border-radius: 10px;
    border: rgb(150, 52, 52);
}

.contentContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.product{
    background-color: rgb(45, 56, 90);
    margin: 3px;
    width: 15%;
    height: 300px;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    border:solid 2px rgb(141, 233, 22);
    display: block;

}

.productImg{
    border: solid 2px rgb(0, 0, 0);
    width: 140px;
    height: 120px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.productName {
    display: block;
    color:whitesmoke;
    font-size: 20px;
}

.productPrice{
    text-align: justify;
    color: darkgoldenrod;
    font-size: 20px;
    font-weight: 900;
    background-color: black;
    border-radius: 2px;
    border: solid 2px darkgoldenrod;
    
}

.buttonCTA{
    margin-top: 20px;
    background-color: crimson;
    font-size: 15px;
    border-radius: 3px;
    border: static 3px grey;
}

/*
.nav{
    display: block;
    position: static;
    float: left;
    width: 18%;
    text-align: left;
    border: solid brown;

}

.navbar{
    display: block;
    width: 90%;

}



.productContainer{
    display: flex;
    position: static;
    flex-wrap: wrap;
    float: right;
    width: 70%;
    border-radius: 15px;
    border-color: blueviolet ;
}


/* targetitas */

/*
.cardContainer {
    display: flex;
    justify-content: right;
    width: 70%;
}

.card {
    width: 25%;
    padding: 20px 10px;
    border: 2px solid rgb(115, 16, 16);
    border-radius: 30px;
}

.cardImg {
    width: 70%;
}

.cardPrice {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.buttonCTA {
    margin: 10px 0;
    background-color: rgb(73, 157, 17);
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonCTA:hover {
    background-color: rgb(235, 216, 44);
    box-shadow: 1px 1px 10px lightgrey;
}

/* Buscadores*/


